<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ymriteXyesosi.Properties.Settings.oborConnectionString"
            connectionString="Data Source=LAPTOP-B9NL3QIJ\SQLEXPRESS;Initial Catalog=obor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>